OWNER_ID=6735026878
API_ID=22463709 # get this value from my.telegram.org
API_HASH=25c1f59ab1e6bba7b0c31778834de784 # get this value from my.telegram.org
BOT_TOKEN=8198378098:AAFvtZBx3v7nYQJ29RgfBaB805M0Ut3q7Dk # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://yuzimusicbot:i8RaqHtZFvvlP4GZ@cluster0.2ukrc.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-100281485053 # get this value from in your log group 
MUSIC_BOT_NAME=yukki # your music bot name 
STRING_SESSION=BQFWxN0Am-2thRPlQpqGafGVl2T3RdjBSDH_gISvIsML794hcV4k06JUJC_CRIg9WOJDekoJQK7eQtIfkYgubhOIetTVydvJDVfN9b6G86NYtoRVVJrmibbBJSbdxrAaAvii9_TOWfwLATZpq-MBZHCtXl_87uW00A6-GMVqjV7_yuWML5bhmss0vYw9MkuZjRcFz85ED7IT8KXEyWJ7pz8TLh-048992kbRc9A4WeS47pslnXAqFmHHsWGrfwuon5xtWSSpQS9kQ9obv0a7TF-M_EaVl6-L2WnxGP2-HnT1e3_EWFZ4qpOAlyiYxpoLEsbg-EBVvzCavuNkYXKM8mmn5xIQBwAAAAHoqVJyAQ # get this value from @yukkistringbot
